button{
    color:lightcoral;
}

button:hover {
    color: darkseagreen;
}

.test_btn {
    background-color: darkseagreen;
    color: green;
}

.test_btn:hover {
    background-color: #caefca;
    color: green;
}


/* NAVBAR */

#navbar_div {
    padding: 0 10px;
    position: fixed;
    top: 0;
    width:100%
}



/* CONTENT */

#name_form {
    margin: 30px 10px 0;
}


/* Div of the svg maps */
#svg_map_div {
    margin: 0 auto;
    height: 100vh;
    display: none;
}

#zoom_button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #f36767;
    border: solid 1px #ffffff;
    border-radius: 15px;
    opacity: 0.5
}

#zoom_button:hover {
    opacity: 1;
}